spring:
    datasource:
        url: jdbc:mariadb://awseb-e-rhpxkprexj-stack-awsebrdsdatabase-vd3kxlrkixze.czi0we86e558.ap-northeast-2.rds.amazonaws.com:3306/board?useSSL=false&serverTimezone=Asia/Seoul
        username: fastcam
        password: hj719310
        driver-class-name: org.mariadb.jdbc.Driver
    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
        properties:
            hibernate:
                format_sql: true
