spring:
    datasource:
        #        url: jdbc:mariadb://localhost:3306/board?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=Asia/Seoul
        #        username: root
        #        password: 1234
        #        driver-class-name: org.mariadb.jdbc.Driver
        url: jdbc:h2:mem:test
        username: sa
        password:
        driver-class-name: org.h2.Driver
    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
        properties:
            hibernate:
                format_sql: true
